html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

img, video, picture, svg {
  display: block;
  max-width: 100%;
}

:root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 1rem;
    --h5-font-size: 0.9rem;
    --h6-font-size: 0.75rem;
}

.all-around {
  position: relative;
  
}

.all-around::before,
.all-around::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.all-around-effect {
  transition: color 0.25s;
}

.all-around-effect::before,
.all-around-effect::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.all-around-effect::before {
  top: 0;
  left: 0;
}

.all-around-effect::after {
  bottom: 0;
  right: 0;
}

.all-around-effect:hover {
  color: #F87172;
}

.all-around-effect:hover::before,
.all-around-effect:hover::after {
  height: 100%;
  width: 100%;
}

.all-around-effect:hover::before {
  border-top-color: #F87172;
  border-right-color: #F87172;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.all-around-effect:hover::after {
  border-bottom-color:#F87172; 
  border-left-color: #F87172;
  transition:
    border-color 0s ease-out 0.5s, 
    width 0.25s ease-out 0.5s, 
    height 0.25s ease-out 0.75s; 
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: 700;
  }
  h2 {
    font-size: var(--h2-font-size);
  }
  h3 {
    font-size: var(--h3-font-size);
  }
  


@media (min-width: 1500px) {
  :root {
    --h1-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.25rem;
    --h5-font-size: 1rem;
    --h6-font-size: 0.75rem;
  }
}

p {
  color: #777;
  line-height: 2rem;
  font-weight: 400;
  font-size: 1.1rem;
}




