.main {
    max-width: 1056px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin-bottom: 5em;
}

.home-explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.home-explore-text {
    margin: 0;
    flex-wrap: nowrap;
}

.home-explore-icon {
    margin: 0;
}

.about,
.project,
.contact {
    padding: 0 0 10em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FE8686;
    min-height: 100vh;
    justify-content: center;
}



.about-container {
    margin: 2.5em  0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-content {
    display: grid;
    grid-template-rows: auto auto;
    gap: 5rem;
}

.about-content h2 {
    font-weight: 700;
}

.about-content-tag {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

}

.about-content-me,
.about-content-skill {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 40rem;
    
}


.about-description{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    max-width: 60em;
    text-align: center;

}

.about-description-text {
    letter-spacing: 1px;
    padding: 0 0 5rem 0;
}

.about-description-more {
    margin: 0;
    color: #FE8686;
}

.project-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8rem;
    margin: 3rem 0;
}

.project-wrapper {
    display: flex;
    width: 100%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    margin: 3rem 0;
    max-width: 25em;
    width: 100%;
}

.contact-form :is(input, textarea) {
    border: 2px solid rgba(200, 200, 200, 0.5);
    border-radius: 5px;
    height: 2.5em;
    width: 100%;
    padding: 0 1em;
    outline: none;
}

.contact-form textarea {
    resize: none;
    height: 10em;
    padding: .5em 1em;
}


.contact-form input:hover,
.contact-form input:focus,
.contact-form textarea:hover,
.contact-form textarea:focus {
    border: 2px solid #FE4A49;
}

.unique-font {
    color: white;
    -webkit-text-stroke: 1.5px #FE4A49;
    transition: 0.5s ease-out;
    font-size: var(--h1-font-size);
}

.unique-font:hover {
    color: #FE4A49;
    cursor: default;
    transition: 0.5s ease-out;
}

@media (min-width: 768px) {
    .about-content {
        grid-template-columns: 1fr 1fr;
        gap: 0 5rem;
    }
}

@media (min-width:600px) {
    .home-header {
        max-width: 60%;
    }
}